:root {
  --background: #f5f5f5;
  --white: #fff;
  --text: #333;
	--title: #046C00;
	--background-second: #FAFAFC;
  --footer-back: #f8f8f8;
  --border: #d9dbde;
  --primary: #079c34;
	--primary-light: #E9F2E7;
	--text-dark:#333333;
  --c-back: #f1f1f3;
	--btn-background: #BED7AB;
}
